{% extends "base/base.html" %}

{% block content %}


    <div class="row">
        <h1>Products</h1>
        {% for product in products %}
            <div class="col-md-4">
                <img src="http://placehold.it/400x350" style="width: 100%">
                <h2><a href="{%  url 'detail' product.id %}">{{ product.name }}</a></h2>
                <p>{{ product.description }}</p>
                <strong>{{ product.current_price }}</strong>
            </div>
        {% endfor %}
    </div>

{% endblock %}