{% extends "_shared/base.html" %}
{% load add_css %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class="row">
        <div class="col-md-7">
            <img src="http://placehold.it/500x600">
        </div>
        <div class="col-md-5">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <form action="" method="post">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="row">
                    <div class="col-md-6">
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field|add_css:"form-control" }}
                                {{ field.errors.as_text }}
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <input type="submit" class="btn btn-success" value="Buy Shirts Now" />
            </form>
        </div>
    </div>

{% endblock %}